 <!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>AIR POLLUTION PREDICTION </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/mains.css" />
	</head>
	<body>

		 

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			 
		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="../images/image.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>ABSTRACT</h2>
							 
						</header>
						<div class="content">
							<p>Due to human activities, industrialization and urbanization air is getting polluted.
The major air pollutants are CO, NO, C6H6, etc. The concentration of air
pollutants in ambient air is governed by the meteorological parameters such as
atmospheric wind speed, wind direction, relative humidity, and temperature.
Earlier techniques such as Probability, Statistics etc. were used to predict the
quality of air, but those methods are very complex to predict, the Machine
Learning (ML) is the better approach to predict the air quality. With the need to
predict air relative humidity by considering various parameters such as CO, Tin
oxide, nonmetallic hydrocarbons, Benzene, Titanium, NO, Tungsten, Indium
oxide, Temperature etc, approach uses machine learning techniques to predict the
Relative humidity of air and uses Root Mean Square Error to predict the accuracy.</p>
						</div>
						 
					</article>
				</div>
				 
			</section>

		<!-- Two -->
		 
		 
		 

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/mains.js"></script>
<input type="button" onclick="window.location.href='{{url_for('upload')}}';" value="UPLOAD" />
</body>
	
</html>